# Project exclude paths
/.gradle/
/Encryption-Decryption/task/build/
/Encryption-Decryption/task/out/
/Encryption-Decryption/task/out/production/classes/
/Problems/Decrement all/out/
/Problems/Decrement all/out/production/classes/
/Problems/Number of occurrences/out/
/Problems/Number of occurrences/out/production/classes/
/Problems/Parse url/out/
/Problems/Parse url/out/production/classes/
/Problems/The lucky ticket/out/
/Problems/The lucky ticket/out/production/classes/

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
*.iml

## Directory-based project format:
.idea/

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:
# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties

*.dat
*.json
